<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- dùng chung -->
    <link href="/lib/jquery-ui.css" rel="stylesheet" />
    <link href="/lib/jquery-ui.min.css" rel="stylesheet" />
    <link href="/css/common/main.css" rel="stylesheet" />
    <link href="/css/common/common.css" rel="stylesheet" />
    <link href="/css/common/dialog.css" rel="stylesheet" />
    <link href="/css/common/header.css" rel="stylesheet" />
    <link href="/css/common/navbar.css" rel="stylesheet" />
    <link href="/css/common/content.css" rel="stylesheet" />
    <link href="/css/common/button.css" rel="stylesheet" />
    <link href="/css/common/icon.css" rel="stylesheet" />
    <link href="/css/common/toolbar.css" rel="stylesheet" />
    <link href="/css/common/input.css" rel="stylesheet" />
    <link href="/css/common/grid.css" rel="stylesheet" />
    <!--dùng riêng-->
    <link href="/css/page/employee.css" rel="stylesheet" />

</head>
<body class="customerDetail" id="customers">
    <div class="navbar">
        <div class="logo-site">
            <div class="logo-box">
                <div class="toggle-icon"></div>
                <div class="amis-logo"></div>
            </div>
        </div>
        <div class="navbar-content">
            <div class="nav-item">
                <div class="navbar-item-icon nav-item-1"></div>
                <div class="navbar-item-text">Tổng quan</div>
            </div>
            <div class="nav-item">
                <div class="navbar-item-icon nav-item-2"></div>
                <div class="navbar-item-text">Đánh giá</div>
            </div>
            <div class="nav-item">
                <div class="navbar-item-icon nav-item-1"></div>
                <div class="navbar-item-text">Mua hàng</div>
            </div>
            <a class="nav-item" href="customer.html">
                <div class="navbar-item-icon nav-item-3"></div>
                <div class="navbar-item-text">Danh mục khách hàng</div>
            </a>
            <a class="nav-item" href="employee.html">
                <div class="navbar-item-icon nav-item-3"></div>
                <div class="navbar-item-text">Danh mục nhan vien</div>
            </a>

            <div class="nav-item">
                <div class="navbar-item-icon nav-item-4"></div>
                <div class="navbar-item-text">Thiết lập hệ thống</div>
            </div>

        </div>
    </div>
    <div class="header">
        <div class="name">
            <select class="option">
                <option>Nhà hàng Biển Đông</option>
                <option>Nhà hàng biển nhớ</option>
                <option>Nhà hàng bờ biển</option>
            </select>
        </div>
        <div class="header-right">
            <div class="header-option header-op"></div>
            <div class="header-admin">Nguyên Văn Mạnh</div>
            <div class="header-logo header-log"></div>

        </div>

    </div>
    <div class="content">
        <div class="header-content">
            <div class="title">Danh sách khách hàng</div>
            <div class="content-feature">
                <button id="btnAdd" class="btn-default">
                    <div class="icon-add"></div>
                    <div class="btn-text">Thêm khách hàng</div>
                </button>
            </div>

        </div>
        <div class="filter-bar">
            <div class="filter-left">
                <input class="icon-search input-search" style="width:200px" type="text" placeholder="Tìm kiếm theo ma, Tên khách hàng" />
                <select>
                    <option>Phòng đào tạo</option>
                    <option>Phòng đào tạo</option>
                    <option>Phòng đào tạo</option>
                </select>
            </div>
            <div class="filter-right">
                <button class="m-second-button m-filter-refresh" id="btnRefresh"></button>
            </div>
        </div>
        <div class="grid grid-employee" style="overflow-y:auto; overflow-x:auto;">
            <table border="0" width="100%" cellspacing="0" id="table">
                <thead>
                    <tr id="tr">
                        <th fieldName="CustomerCode">Ma khach hang</th>
                        <th fieldName="FullName">Họ và tên</th>
                        <th fieldName="Gender">Giới tính</th>
                        <th fieldName="DateOfBirth" formatType="ddmmyyyy">Ngày sinh</th>
                        <th fieldName="PhoneNumber">Số điện thoại</th>
                        <th fieldName="Email">Email</th>
                        <th fieldName="Address">Địa chỉ</th>
                        <th fieldName="DebitAmount">Số tiền nợ</th>
                        <th fieldName="MemberCardCode">Mã thẻ thành viên</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr>
                        <td>NV0001</td>
                        <td>Nguyen nguyen A</td>
                        <td>Nam</td>
                        <td>22/12/1998</td>
                        <td>0999999999</td>
                        <td style="max-width:100px"><span>ĐHCNHN, Minh Khai, Từ Liêm, Hà Nội, ĐHCNHN, Minh Khai, Từ Liêm, Hà Nội</span></td>
                    </tr>-->
                </tbody>
            </table>

        </div>
        <div class="paging-bar">
            <div class="paging-record-info">
                Hiển thị <b>1-10/1000</b> Khach hang
            </div>
            <div class="paging-option">
                <div class="paging-op">
                    <div class="first"></div>
                    <div class="bf"></div>
                    <div class="af"></div>
                    <div class="last"></div>
                </div>

            </div>
            <div class="paging-record-option"><b>10</b> Khach hang/trang</div>
        </div>
    </div>

    <div class="m-dialog dialog-detail" id="btnAdd">
        <div class="dialog-model"></div>
        <div class="dialog-content">
            <div class="dialog-header">
                <div class="dialog-header-title">Thông tin khách hàng</div>
                <div id="btnX" class="dialog-header-close">
                    <button></button>
                </div>
            </div>
            <div class="dialog-body">
                <div class="dialog-body-1">
                    <div class="Colum-1">
                        <div class="image img"></div>
                        <div class="text1">Vui lòng chọn ảnh có định dạng</div>
                        <div class="text2">.jpg .jpeg .png .gif</div>
                    </div>
                    <div class="Colum-2">
                        <div class="a-row">
                            <div class="m-label">Mã khách hàng(*)</div>
                            <div class="m-control"><input type="text" id="txtCustomerCode" size="20" /></div>
                        </div>
                        <div class="a-row">
                            <div class="m-label">Mã thẻ thành viên</div>
                            <div class="m-control"><input type="text" size="20" id="txtMemberCardCode" /></div>
                        </div>
                        <div class="a-row">
                            <div class="m-label">Ngày sinh</div>
                            <div class="m-control"><input type="date" name="datetime" id="date_timepicker_end" size="20"></div>
                        </div>
                    </div>
                    <div class="Colum-3">
                        <div class="a-row">
                            <div class="m-label">Họ và tên(*)</div>
                            <div class="m-control"><input type="text" size="20" id="txtFullName" /></div>
                        </div>
                        <div class="a-row">
                            <div class="m-label">Nhóm khách hàng</div>
                            <div class="m-control">
                                <select name="Khach" id="cbxCustomerGroup">
                                    <option value="khachvip">Khách VIP</option>
                                    <option value="Khachthuong">Khách thường</option>
                                    <option value="khachvanglai">Khách vãng lai</option>
                                </select>
                            </div>
                        </div>
                        <div class="a-row">
                            <div class="m-label">Giới tính</div>
                            <div class="m-control-general"><input type="radio" name="done" value="nam" />Nam<input type="radio" name="done" value="nu" />Nữ</div>
                        </div>
                    </div>
                </div>
                <div class="dialog-body2">
                    <div class="dialog-body-2">
                        <div class="dialog-body-2-1">
                            <div class="a-row">
                                <div class="m-label">Email</div>
                                <div class="m-control-long"><input type="text" value="example@dormain.com" size="47" /></div>
                            </div>
                            <div class="a-row">
                                <div class="m-label">Tên công ty</div>
                                <div class="m-control-long"><input type="text" size="47" /></div>
                            </div>
                        </div>
                        <div class="dialog-body-2-2">
                            <div class="a-row">
                                <div class="m-label">Số điện thoại</div>
                                <div class="m-control"><input type="text" size="20" /></div>
                            </div>

                            <div class="a-row">
                                <div class="m-label">Mã số thuế</div>
                                <div class="m-control"><input type="text" value="Mã số thuế của công ty" size="20" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-body-2-3">
                        <div class="m-label">địa chỉ</div>
                        <div class="m-control-longg"><input type="text" size="78" /></div>
                    </div>

                </div>
            </div>
            <div class="dialog-footer">
                <div class="dialog-footer-detail">
                    <button class="save" id="Add">
                        <div class="save-icon icon"></div>
                        <div class="save-text">lưu</div>
                    </button>
                    <div id="btnCancel" class="cancel">hủy</div>
                </div>
            </div>

        </div>

    </div>
    <script src="/lib/external/jquery/jquery.js"></script>
    <script src="/lib/jquery-3.5.1.min.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/lib/jquery-ui.min.js"></script>
    <script src="/lib/jquery-ui.js"></script>
    <script src="/js/common/base.js"></script>
    <script src="/js/page/customer.js"></script>
</body>
</html>